html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: $font--body;

  &.home {
    // background:
    //   url("../images/bg-triangle-alt.svg") 0 100%,
    //   url("../images/bg-triangle-alt.svg") 91px 100%, $brand--primary;
  }

  &.archive {
    background-color: $brand--white;
  }
}

p {
  color: $brand--primary;
  font-size: 16px;
  letter-spacing: 0.75px;
  text-align: left;
  line-height: 22px;
  margin-top: 0;
}

.inner {
  @include inner;
}

.about,
.home {
  .wrap {
    padding: 0 0 0 0;
  }
}

.wrap {
  flex: 1 0 auto;
  padding: 100px 0 0 0;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;

  @include breakpoint(medium) {
    padding: 139px 0 0 0;
  }
}

img {
  width: 100%;
  height: auto;
}

.ico-search {
  display: block;
  background: url("../images/ico-search.svg");
  background-size: 16px;
  width: 16px;
  height: 16px;
}

.ico-heart {
  display: block;
  background: url("../images/ico-heart.svg");
  background-size: 24px;
  width: 24px;
  height: 22px;
}

.ico-account {
  display: block;
  background: url("../images/ico-account.svg");
  background-size: 16px;
  width: 16px;
  height: 15px;
}

.ico-basket {
  display: block;
  background: url("../images/ico-basket.svg");
  background-size: 20px;
  width: 20px;
  height: 15px;
}

.bg-color {
  &__blue {
    background-color: #bfdbe0;
  }
}

.alt {
  background-color: #dde2ea;
}

.alert {
  padding: 60px 0;

  &__inner {
    @include inner;
  }
}

.about-page {
  .section {
    &:nth-of-type(2n) {
      padding-top: 0;
    }
  }
}

.woocommerce-error {
  list-style: none;
  margin: 0;
  padding: 0 0 20px 0;

  a {
    @include subtitle($brand--primary);
  }
}
