/** Colors */
$brand--primary: #000;
$brand--secondary: #abced0;
$brand--yellow: #f2ff78;
$brand--white: #fff;
$brand--border: #c0c7c2;
$bg: #fffaf5;

$border: 1px solid $brand--border;

$transition: 0.3s all ease;

// 1. Global
$content-width: 1440px;

$breakpoints: (
  small: 0,
  medium: 900px,
  large: 1300px,
  xlarge: 1800px,
);

$font--heading: "reader", arial, sans-serif;
$font--body: "reader", arial, sans-serif;
