.page-template-about-page {
  .video,
  .two-column {
    width: 100%;
    margin: 0 auto;

    @include breakpoint(medium) {
      width: 95%;
    }
  }

  .main {
    padding-bottom: 150px;
  }
}

.about-nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;

      &.current-menu-item {
        a {
          color: $brand--primary;
        }
      }

      a {
        @include hoverline(#595959);

        font-family: $font--body;
        font-size: 14px;
        font-weight: 500;
        color: #595959;
        letter-spacing: 1.87px;
        text-transform: uppercase;

        @include breakpoint(medium) {
          font-size: 18px;
        }
      }

      &::after {
        content: "—";
        margin: 0 10px;
        color: #595959;
      }

      &:last-of-type {
        &::after {
          content: "";
        }
      }
    }
  }
}
