.woocommerce-cart {
  background-color: $bg-alt;

  .wrap {
    padding-bottom: 150px;
  }

  .return-to-shop {
    display: none;
  }

  .woocommerce {
    width: 100%;
    margin: 0 auto;

    @include breakpoint(medium) {
      width: 70%;
    }

    p.cart-empty {
      padding: 60px 0 30px 0;
    }

    .return-to-shop {
      a {
        @include hoverline($brand--primary);
      }
    }

    .woocommerce-cart-form {
      padding: 100px 0 0 0;

      .name_of_store {
        span.msg {
          display: none;
        }
      }

      .profession-order-note {
        padding: 20px 0 0 0;

        .msg {
          display: inline-block;
          width: 100%;
          padding: 0 0 5px 0;
        }

        textarea {
          width: 95%;
          padding: 5px;
          margin: 15px 0 0 0;
          width: calc(100% - 13px);
        }
      }

      input.input-text {
        width: calc(100% - 22px);
        background: #fff;
        border-color: #777;

        &:focus {
          border-color: #777;
        }
      }

      .shop_table {
        width: 100%;

        thead {
          .product-remove,
          .product-thumbnail,
          .product-name,
          .product-price,
          .product-quantity,
          .product-subtotal {
            //font-size: 12px;
            letter-spacing: 1px;
            font-size: 16px;
            font-weight: 100;
          }
        }

        .product-remove,
        .product-thumbnail,
        .product-name,
        .product-price,
        .product-quantity,
        .product-subtotal {
          padding: 0 0 15px 0;
          font-weight: 100;
          text-transform: uppercase;
        }

        .product-thumbnail {
          padding: 20px 0;
        }

        .product-subtotal,
        .product-quantity {
          text-align: right;
        }

        .quantity {
          input {
            width: 30px;
          }
        }

        .product-remove {
          a {
            @include subtitle($brand--primary);

            margin: 0 10px 0 0;
            text-decoration: none;
          }
        }

        .product-name {
          text-align: left;
          a {
            @include subtitle($brand--primary);

            text-decoration: none;
          }
        }

        .variation-Nosepadoption {
          text-transform: none;
          font-size: 13px;
          margin: 0;
        }

        td.actions {
          margin: 10px 0;
          text-align: right;

          .button {
            @include button;

            padding: 10px;
          }
        }
      }

      &__cart-item {
        td {
          padding: 15px 15px;
          border-top: 1px solid $brand--primary;

          &.product-thumbnail {
            img {
              max-width: 200px;
            }
          }
        }
      }
    }

    .cart-collaterals {
      width: 50%;
      float: right;

      .cart_totals {
        @include subtitle($brand--primary);
        padding: 20px 0;
        display: inline-block;
        float: right;
        font-weight: 100;

        text-transform: uppercase;

        h2 {
          text-align: right;
          padding: 30px 0 0 0;
          font-weight: 100;
          font-size: 16px;
        }

        .cart-subtotal,
        .order-total {
          th {
            font-weight: 100;
          }
        }

        .shop_table {
          text-align: right;
          float: right;
          padding: 0 0 20px 0;

          .tbody {
            float: right;
          }
        }

        .order-total {
          width: 100%;
        }
      }

      .wc-proceed-to-checkout {
        text-align: right;

        .checkout-button {
          @include btn($brand--primary);

          text-align: center;
          width: auto;
        }
      }
    }
  }
}
