.woocommerce-checkout {
  background-color: $bg-alt;

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $brand--primary;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $brand--primary;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $brand--primary;
  }

  .wrap {
    padding-bottom: 150px;
  }

  .content-info {
    display: none;
  }

  .col2-set {
    display: flex;
    padding: 10px 0;
    flex-wrap: wrap;

    @include breakpoint(medium) {
      flex-wrap: nowrap;
    }
  }

  .col-1,
  .col-2 {
    width: 100%;

    @include breakpoint(medium) {
      width: 50%;
    }
  }

  h3 {
    @include subtitle($brand--primary);

    text-transform: uppercase;
    margin: 0 0 30px 0;
  }

  .woocommerce {
    width: 100%;
    margin: 0 auto;

    .woocommerce-billing-fields {
      label {
        display: none;
      }
    }

    .woocommerce-additional-fields {
      h3 {
        display: none;
      }
    }

    .select2-container {
      width: 94%;
    }

    #billing_country_field {
      width: 93%;

      .select2-selection {
        border-radius: 0;
        border: 0;
        background-color: #e1e1e1;
      }
    }

    #billing_state_field {
      display: none;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
      color: #444;
      line-height: 28px;
      background-color: #e1e1e1;
      width: 90%;
      border: 0;
      border-radius: 0;
    }

    #order_comments {
      width: 90%;
      border: 0;
      background-color: #e1e1e1;
      padding: 10px 10px;
      margin: 10px 0 0 0;

      @include breakpoint(medium) {
        width: 90%;
      }

      &:focus {
        outline: none;
        border: 0;
      }
    }

    #order_review {
      .shop_table {
        width: 100%;

        .product-name {
          text-align: left;
        }

        .variation-Nosepadoption {
          text-transform: none;
          font-size: 13px;
          margin: 0;
        }

        .cart-subtotal {
          text-align: left;
          padding-top: 20px;
          display: inline-block;
          width: 100%;
        }

        .order-total {
          text-align: left;
          display: inline-block;
          width: 100%;
        }

        .product-total {
          text-align: right;
        }
      }
    }
  }

  #place_order {
    @include btn($brand--primary);
  }

  input {
    @include input;

    width: 95%;

    @include breakpoint(medium) {
      width: 90%;
    }
  }

  textarea {
    @include input;

    width: 95%;

    @include breakpoint(medium) {
      width: 90%;
    }
  }

  input {
    width: 90%;
    border: 0;
    background-color: #e1e1e1;
    padding: 10px 10px;

    @include breakpoint(medium) {
      width: 90%;
    }

    &:focus {
      outline: none;
      border: 0;
    }
  }

  select {
    width: 90%;
    border: 0;
    background-color: #e1e1e1;
    padding: 10px 10px;

    @include breakpoint(medium) {
      width: 90%;
    }

    &:focus {
      outline: none;
      border: 0;
    }
  }
}

#payment {
  padding: 100px 0 0 0;

  .woocommerce-terms-and-conditions-wrapper {
    padding: 50px 0 0;

    .woocommerce-privacy-policy-text {
      line-height: 17px;

      p {
        font-size: 12px;

        a {
          @include hoverline($brand--primary);
          text-decoration: underline;
        }
      }
    }
  }
}

#order_review {
  .woocommerce-checkout-payment {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 0 30px 0;

        input {
          width: auto;
        }

        label {
          font-weight: 500;
          margin: 0 0 0 10px;
          text-transform: capitalize;

          img {
            margin: 0 0 0 10px;
            width: 220px;
            float: right;
          }
        }

        &.payment_method_kco {
          label {
            font-weight: 500;

            img {
              margin: 0 0 0 10px;
              width: 100px;
            }
          }
        }

        .payment_box {

          fieldset {
            border: 1px solid $brand--primary;
          }

          label {
            margin: 0 0 10px 0;
          }

          input {
            width: 90%;
          }
        }
      }
    }
  }

  .place-order {
    label.woocommerce-form__label-for-checkbox {
      padding: 0 0 30px 0;
      display: inline-block;
      width: 100%;

      input {
        width: auto;
      }

      span {
        text-transform: initial;
      }

      a {
        @include hoverline($brand--primary);
        text-decoration: underline;
      }
    }
  }
}
