.page-header {
  padding: 10px 0;
  background-color: $brand--white;

  &__inner {
    @include inner;
  }

  h1 {
    font-family: $font--body;
    font-size: 18px;
    font-weight: 500;
    color: $brand--primary;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
}
