.professional-login,
.professional-user {
  .woocommerce {
    h2 {
      display: none;
    }
  }
  .header__inner,
  .header {
    background-color: #c0c7c2 !important;
  }

  .header__banner,
  .announcement__item,
  .content-info {
    background-color: #dcdab7 !important;
  }

  .page-header {
    background-color: #f8f8f8 !important;
  }
}

.professional-login,
.professional-user {
  .page-header {
    //background-color: #c0c7c2 !important;
  }

  .woocommerce-MyAccount-navigation {
    .woocommerce-MyAccount-navigation-link--orders,
    .woocommerce-MyAccount-navigation-link--account-wishlists {
      display: none !important;
    }
  }
}
