.professional-login,
.professional-user {
  .woocommerce {
    h2 {
      display: none;
    }
  }
  .header__inner {
    background-color: #c0c7c2 !important;
  }

  .header__banner,
  .announcement__item,
  .content-info, {
    background-color: #dcdab7 !important;
  }

  .page-header {
    background-color: #f8f8f8 !important;
  }
}
