#wl-wrapper {
  padding: 120px 0;
  width: 100%;

  @include breakpoint(medium) {
    width: 60%;
    margin: 0 auto;
  }

  .wl-intro {
    h2 {
      @include title($brand--primary);
    }
  }

  a {
    @include subtitle($brand--primary);

    @include breakpoint(medium) {
      font-size: 14px;
    }
  }

  .form-row {
    .button {
      @include button();
    }
  }
}
