.archive-data {
	.content-area {
		@include inner;
	}
}

.products {
	padding: 0;
	padding-bottom: 120px;
	list-style: none;
	display: grid; /* 1 */
  grid-template-columns: repeat(1, 1fr); /* 2 */
  grid-gap: 1rem; /* 3 */
	gap: 30px;
  justify-content: space-between; /* 4 */

	@include breakpoint(medium) {
		grid-template-columns: repeat(2, 1fr); /* 2 */
	}

	li {
		cursor: initial;
    padding: 0;
		width: 100%;

		.image-container {
			overflow: hidden;
		}

		img {
			transition: $transition;
		}

		&:hover {
			img {
				@include scale;
			}
		}
    // margin: 0 30px;

		// @include breakpoint(medium) {
		// 	width: 30%;
		// }
	}
}

.woocommerce-info {
	// padding: 20px 0 20px 0;
	// text-align: center;
	background-color: #f8f8f8;
	padding: 20px 0;
	// margin: 10px 0 15px;
	text-align: center;

	a {
		color: $brand--primary;
	}
}

.term-new-arrivals {
	.woocommerce-products-header {
		display: none;
	}
}
