.products {
	padding: 0;
	padding-bottom: 120px;
	list-style: none;
	display: grid; /* 1 */
  grid-template-columns: repeat(1, 1fr); /* 2 */
  grid-gap: 1rem; /* 3 */
	gap: 30px;
  justify-content: space-between; /* 4 */

	@include breakpoint(medium) {
		grid-template-columns: repeat(2, 1fr); /* 2 */
	}

	li {
		cursor: initial;
    padding: 0;
		width: 100%;
    // margin: 0 30px;

		// @include breakpoint(medium) {
		// 	width: 30%;
		// }
	}
}

.woocommerce-info {
	padding: 60px 0 120px 0;
}

.term-new-arrivals {
	.woocommerce-products-header {
		display: none;
	}
}
