.feature-story {
	padding: 0;
	overflow: hidden;

	&.bg-color-brown {
		background-color: #d8cfbe;
	}

  // &__inner {
	// 	@include inner;
  // }

	&__row {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		@include breakpoint(medium) {
			flex-wrap: nowrap;
		}
	}

	&__col {
		width: 100%;
		display: flex;
    justify-content: center;
    align-items: center;

		@include breakpoint(medium) {
			width: 40%;
		}

		&:last-of-type {
			width: 100%;

		@include breakpoint(medium) {
			width: 60%;
		}
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		flex-direction: column-reverse;

		@include breakpoint(medium) {
			flex-direction: initial;
		}

		&.reverse {
			flex-direction: column-reverse;
		}
	}

	&__item {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
    align-items: flex-start;
		justify-content: center;
		min-height: 114px;
		background-size: cover;
		background-position: 50%;
		position: relative;
		flex-direction: row;
		order: 2;
		line-height: 0;

		@include breakpoint(medium) {
			width: 50%;
			height: auto;
			order: initial;
		}

		&:nth-child(even) {
			order: 1;
			@include breakpoint(medium) {
				order: initial;
			}
		}
	}

	&__image {
		text-align: center;

		@include breakpoint(medium) {
			padding: 10% 5%;
		}

		img {
			height: auto;
    	// max-height: 70vh;
			//width: auto;

			@include breakpoint(medium) {
				width: auto;
				width: 80%;
			}
		}
	}

	&__inner {
		margin: 35px 20px;
		height: 100%;
		position: relative;

		@include breakpoint(medium) {
			margin: 10% 10%;
			height: calc(100% - 20%);
		}
	}

	h2 {
		@include title($brand--primary);

    margin: 0 60px 20px 0;
	}

	h3 {
		font-family: $font--body;
		color: $brand--primary;
		letter-spacing: 3.03px;
		font-weight: 100;
		font-size: 14px;
		margin: 0 0 10px 0;
		line-height: 22px;

		@include breakpoint(medium) {
			font-size: 16px;
		}
	}

	h4 {
		@include subtitle($brand--primary);
	}

	a {
		color: $brand--primary;
		font-size: 16px;
		letter-spacing: 0.75px;
		text-align: left;
		line-height: 22px;
		position: relative;
		bottom: initial;
		display: inline-block;
		margin: 20px 0 0 0;
		text-decoration: none;

		@include breakpoint(medium) {
			position: absolute;
			display: initial;
			bottom: -20px;
			left: 0;
			margin: 0;
		}
	}
}
