.featured-products {
	@include section;

	width: 100%;
	position: relative;
	background-color: $brand--white;

	&__link {
		width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

		&:hover {
				.feature-collection__bottom a::after {
					@include breakpoint(medium) {
						transform: scaleX(1);
						transform-origin: bottom;
					}
				}
		}
	}

  &__inner {
		@include inner;
  }

	&__products {
		display: flex;
    justify-content: space-between;
		flex-wrap: wrap;

		@include breakpoint(medium) {
			flex-wrap: nowrap;
		}
	}

	&__product {
		width: 100%;

		@include breakpoint(medium) {
			width: 31%;
		}
	}

	&__meta {
		display: flex;
		justify-content: space-between;
		padding: 0 0 5px 0;
		border-bottom: 5px solid $brand--primary;

		h1 {
			font-family: $font--heading;
			color: $brand--primary;
			font-size: 23px;
			letter-spacing: 0.86px;
			font-weight: 100;
			margin: 0;
		}

		a {
			@include subtitle($brand--primary);

			line-height: initial;
			text-decoration: none;
		}
	}

  &__bottom {
		width: 100%;
		display: flex;
    justify-content: flex-start;
    align-items: center;
		padding: 60px 0 0 0;

    h3 {
			@include title($brand--primary);

			margin: 0 60px 0 0;
    }

		a {
			@include hoverline($brand--primary);

			@include subtitle($brand--primary);
		}
  }
}
