.filter {
	background-color: #f0f0f0;

	&__inner {
		@include inner;

		padding-top: 15px;
		padding-bottom: 15px;
		position: relative;

		@include breakpoint(medium) {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}

	&__container {
		position: relative;
		bottom: 0;
		left: 0;
		// transform: translateY(-100%);
		background: #f0f0f0;
		z-index: 5;
    width: 100%;
		height: 0;
		opacity: 0;
		visibility: hidden;
		transition: all ease 0.3s;
		overflow-y: scroll;
		-ms-overflow-style: none;  /* IE and Edge */
		// scrollbar-width: none;  /* Firefox */
		// &::-webkit-scrollbar {
		// 	display: none;
		// }

		&.active {
			padding: 20px 0 60px 0;
			height: auto;
			position: relative;
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
	}

	&__title {
		@include subtitle($brand--primary);

		cursor: pointer;
		font-weight: 500;

		&.active {
			.plus {

				&::after {
					content: "\2212";
				}
			}
		}

		.plus {
			margin: 0 0 0 5px;

			&::after {
				content: "\002B";
				display: inline-block;
				font-size: 23px;
				font-weight: 100;
				vertical-align: middle;
				color: $brand--primary;
			}
		}
	}

	.colour-graphic {
		display: block;
		width: 100%;
		height: 5px;
		margin: 0 0 10px 0;
		background-color: #000;

		@include breakpoint(medium) {
			width: 200px;
		}

		&.monotones {
			//background-color: #000;
			background-image: linear-gradient(90deg, #000 0%, #d1d1d1 100%);
		}

		&.reds-pinks {
			background-image: linear-gradient(90deg, #ff0400 0%, #ea87b0 69%);
		}

		&.oranges-yellows {
			background-image: linear-gradient(90deg, #ffae00 3%, #f6ff02 74%);
		}
		&.blues-purples {
			background-image: linear-gradient(90deg, #0d0958 0%, #7255da 100%);
		}
		&.greens-aquas {
			background-image: linear-gradient(90deg, #00ff41 3%, #61eed8 84%);
		}
		&.brown-ochres {
			background-image: linear-gradient(90deg, #2e2020 3%, #fa7700 84%);
		}
	}

	.shape-graphic {
		&.aviator {
			display: block;
			background: url("../images/aviator.svg");
			background-size: 55px;
			width: 55px;
			height: 45px;
			margin:  0 0 5px 0;
		}

		&.cateye {
			display: block;
			background: url("../images/cateye.svg");
			background-size: 55px;
			width: 55px;
			height: 42px;
			margin:  0 0 5px 0;
		}

		&.square {
			display: block;
			background: url("../images/square.svg");
			background-size: 49px;
			width: 49px;
			height: 46px;
			margin:  0 0 5px 0;
		}

		&.round {
			display: block;
			background: url("../images/round.svg");
			background-size: 47px;
			width: 47px;
			height: 47px;
			margin:  0 0 5px 0;
		}
	}

	.chosen {
		.shape-graphic {
			&.aviator {
				background: url("../images/aviator-chosen.svg");
				background-size: 55px;
			}

			&.cateye {
				background: url("../images/cateye-chosen.svg");
				background-size: 55px;
			}

			&.square {
				background: url("../images/square-chosen.svg");
				background-size: 49px;
			}

			&.round {
				background: url("../images/round-chosen.svg");
				background-size: 47px;
			}
		}
	}

	.widget_layered_nav {
		ul.woocommerce-widget-layered-nav-list {
			li.aviator,
			li.cateye,
			li.square,
			li.round {
				margin: 0 30px 0 0;
				// cursor: pointer;

				a {
					font-size: 12px;
				}

				span {
					font-size: 12px;
				}

				.none {
					opacity: 0.3;
				}

				&::after {
					content: '';
					margin: 0;
				}
			}
		}

		ul.woocommerce-widget-layered-nav-list {
			li.monotones,
			li.reds-pinks,
			li.oranges-yellows,
			li.blues-purples,
			li.greens-aquas,
			li.brown-ochres {
				width: 46%;
				margin: 0 30px 15px 0;

				@include breakpoint(medium) {
					width: auto;
					margin: 0 30px 15px 0;
				}

				&:nth-of-type(even) {
					margin-right: 0;

					@include breakpoint(medium) {
						margin: 0 30px 15px 0;
					}
				}
				// cursor: pointer;

				a {
					font-size: 12px;
				}

				span {
					font-size: 12px;
				}

				.none {
					opacity: 0.3;
				}

				&::after {
					content: '';
					margin: 0;
				}
			}
		}
	}

	.woocommerce_layered_nav-5 {
		h3 {
			margin: 15px 0 10px 0;
		}
	}

	.widget_layered_nav {
		h3 {
			@include subtitle($brand--primary);

			margin: 30px 0 10px 0;
			font-weight: 500;
		}

		ul.woocommerce-widget-layered-nav-list {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				@include subtitle($brand--primary);
				display: inline-block;
				margin: 0 20px 0 0;
				text-align: center;

				&.chosen {
					a {
						font-weight: 500;
					}
				}

				a {
					@include subtitle($brand--primary);

					text-decoration: none;
				}

				.count {
					font-size: 9px;
					display: none;
				}

				// &:first-of-type {
				// 	margin: 0;
				// }

				&.female {
					margin: 0 9px 0 0;
				}

				&:last-of-type {
					&::after {
						content: "";
					}
				}

				&::after {
					content: " / ";
					margin: 0 0 0 3px;
				}
			}
		}
	}

	.woocommerce_layered_nav-4 {
		h3 {
			margin: 0 8px 10px 0;
		}
	}
}
