/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
 -webkit-box-shadow: 0 0 0 30px #e1e1e1 inset !important;
}

@mixin button {
  @include subtitle($brand--primary);

  padding: 15px 10px;
  background: #e1e1e1;
  border: 1px solid #e1e1e1;
  font-family: $font--body;
  color: $brand--primary;
  text-align: center;
  width: 220px;
  transition: $transition;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    border: 1px solid $brand--secondary;
    background: $brand--secondary;
    color: $brand--primary;
  }

  &:focus {
    outline: none;
  }
}

label {
  @include subtitle($brand--primary);

  text-transform: uppercase;
}

input {
  @include input;
}
