.off-canvas {
	position: fixed;
	top: 0;
	left: 0;
	transform: translateY(-100%);
	background: $brand--secondary;
	z-index: 5;
	width: 100vw;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all ease 0.3s;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	// scrollbar-width: none;  /* Firefox */
	// &::-webkit-scrollbar {
	// 	display: none;
	// }

	@include breakpoint(medium) {
		width: 100vw;
		height: auto;
	}

	&.small {
		.off-canvas__inner {
			padding: 180px 20px 10px 20px;

			@include breakpoint(medium) {
				padding: 110px 46px 10px 46px;
			}
		}
	}

	&.active {
		opacity: 0.9;
		visibility: visible;
		transform: translateY(0);

		@include breakpoint(medium) {
			opacity: 1;
		}
	}
	&__inner {
		@include inner;

		display: flex;
    justify-content: start;
		flex-wrap: wrap;
		padding: 180px 20px 20px 20px;
		transition: $transition;

		@include breakpoint(medium) {
			padding: 170px 50px 60px 50px;
			flex-wrap: nowrap;
		}
	}

	.menu-main-menu-left-container,
	.menu-main-menu-center-container,
	.menu-main-menu-right-container,
	.menu-professional-centre-navigation-container,
	.menu-professional-right-navigation-container {
		margin: 0;
		width: 100%;

		@include breakpoint(medium) {
			margin: 0 10% 0 0;
			width: initial;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			font-size: 24px;
			line-height: 1;
			margin: 0 0 20px;
			width: 100%;
			text-align: left;

			@include breakpoint(medium) {
				margin: 0 0 17px;
			}

			&.current-menu-item {
				a {
					color: $brand--white;

					// &::after {
					// 	transform: scaleX(1);
					// 	transform-origin: bottom;
					// }
				}
			}

			&.menu-item-has-children {
				position: relative;

				&::after {
					content: ' \002B';
					position: absolute;
					right: 0;
					top: 4px;
					font-size: 17px;
				}

				&.active {
					&::after {
						content: ' \2212';
					}
				}
			}

			a {
				@include hoverline($brand--primary);

				font-family: $font--heading;
				font-weight: 500;
				font-size: 16px;
				text-decoration: none;
				text-transform: uppercase;
				color: $brand--primary;
				letter-spacing: 1px;
				text-align: left;
				transition: $transition;
				width: 100%;

				@include breakpoint(medium) {
					font-size: 16px;
				}

				&:hover,
				&:active {
					color: $brand--white;
				}

				&::after {
					height: 1px;
				}

				@include breakpoint(medium) {
					font-size: 16px;
				}
			}

			ul.sub-menu {
				display: none;
				padding: 0;
				margin: 17px 0 0 0;

				li {
					margin: 0 0 1px 0;

					&.current-menu-item {
						a {

							&:hover {
								color: $brand--white;
							}

							// &::after {
							// 	transform: scaleX(1);
							// 	transform-origin: bottom;
							// }
						}
					}

					a {
						@include hoverline($brand--primary);
						font-weight: 100;
						text-transform: capitalize;
						letter-spacing: 0.6px;

						&:hover {
							color: $brand--white;
						}

						&::after {
							height: 1px;
						}

						@include breakpoint(medium) {
							font-size: 16px;
							line-height: 22px;
						}
					}
				}
			}
		}
	}

	#menu-mobile-navigation {
		display: block;

		@include breakpoint(medium) {
			display: none;
		}

		li {
			> ul.sub-menu {
				display: none;
				transition: $transition;

				// a {
				// 	@include hoverline($brand--secondary);
				// }

				&.active {
					display: block;
				}

				ul.sub-menu {
					display: block;
				}
			}
		}
	}
}

