.archive #main {
	@include inner;

	// .woocommerce-breadcrumb {
	// 	display: none;
	// }
	padding: 0;

	@include breakpoint(medium) {
		padding: 0;
	}

	.woocommerce-products-header {
		display: none;
	}
}

.woocommerce-products-header {
	padding: 20px 0;
	background-color: #dcdab7;

	&__inner {
		@include inner;
	}

	&__title {
		@include title($brand--primary);

		text-transform: uppercase;
		font-weight: 500;
		margin: 0;
	}

	.term-description {
		padding: 15px 0 0 0;
		width: 100%;
		max-width: 100%;

		@include breakpoint(medium) {
			width: 100%;
			max-width: 540px;
		}
	}
}

.shop-header {
  &__inner {
		@include inner;
  }
}

.breadcrumb-container {
	@include inner;

	@include breakpoint(medium) {
		padding-bottom: 20px;
	}
}

.woocommerce-breadcrumb {
	@include subtitle($brand--primary);

	text-transform: uppercase;
	padding: 20px 0;
	font-weight: 500;
	font-size: 14px;

	@include breakpoint(medium) {
		padding: 20px 0 0 0;
		font-size: 14px;
	}

	a {
		@include hoverline($brand--primary);
		@include subtitle($brand--primary);

		text-transform: uppercase;
		font-weight: 500;
		font-size: 14px;

		@include breakpoint(medium) {
			font-size: 14px;
		}
	}
}

// TEMP REMOVE FILTERS
.woocommerce-result-count,
.woocommerce-ordering {
	display: none;
}
