.archive #main {
	@include inner;

	// .woocommerce-breadcrumb {
	// 	display: none;
	// }

	.woocommerce-products-header {
		display: none;
	}
}

.woocommerce-products-header {
	padding: 20px 0;

	&__title {
		@include subtitle($brand--primary);

		text-transform: uppercase;
	}
}

.shop-header {
  &__inner {
		@include inner;
  }
}

.woocommerce-breadcrumb {
	@include subtitle($brand--primary);

	text-transform: uppercase;
	padding: 20px 0 0 0;
	font-weight: 500;

	a {
		@include hoverline($brand--primary);
		@include subtitle($brand--primary);

		text-transform: uppercase;
		font-weight: 500;
	}
}

// TEMP REMOVE FILTERS
.woocommerce-result-count,
.woocommerce-ordering {
	display: none;
}
