klarna-placement {
	display: inline-block;
	width: 100%;

	div > div {
		border: 0 !important;
    padding: 10px 0 0 0 !important;
	}

	.container {
		border: 0 !important;
    padding: 10px 0 0 0 !important;
	}
}

// body {
// 	&.out-of-stock {
// 		#wl-wrapper,
// 		.share {
// 			display: none !important;
// 		}
// 	}
// }

.single-product,
.single-data {
	background-color: #fff;

  // &__inner {
	// 	@include inner;
  // }

	.woocommerce-breadcrumb {
		@include inner;

		padding: 20px 20px 0 20px;

		@include breakpoint(medium) {
			padding: 17px 50px 20px 50px;
		}
		a {
			line-height: 28px;

			@include breakpoint(medium) {
				line-height: 15px;
			}
		}
	}

	.product {
		@include inner;

		display: flex;
		flex-wrap: wrap;

		.product-images {
			width: 100%;

			@include breakpoint(medium) {
				width: 65%;
			}

			&__inner {
				padding: 0;

				@include breakpoint(medium) {
					padding: 0 10% 0 0;
				}
			}

			&__360 {
				position: relative;
  			justify-content: center;
  			align-items: center;
				display: none;

				.ico-360 {
					position: absolute;
					background-image: url("../images/ico-360.svg");
					background-size: 41px;
					width: 41px;
					height: 20px;
					display: inline-block;
					top: -20px;

					@include breakpoint(medium) {
						top: -70px;
					}
				}
			}
		}

		.woocommerce-product-gallery {
			&__wrapper {
				margin: 0;
			}
		}

		.lifestyle {
			margin: 20px 0;

			@include breakpoint(medium) {
				margin: 60px 0;
			}

			&.portrait {
				width:  100%;
				margin: 85px auto;

				@include breakpoint(medium) {
					width:  100%;
				}
			}
		}

		.double-image {
			display: flex;
    	flex-wrap: wrap;
			justify-content: space-between;
			margin: 20px 0;

			@include breakpoint(medium) {
				flex-wrap: nowrap;
				margin: 60px 0;
			}

			.portrait-img {
				width: 49%;

				@include breakpoint(medium) {
					width: 49%;
				}
			}
		}

		.variations_form {
			.variations {
				.label {
					display: none;
				}

				.swatch-wrapper {
					border: 0;
					margin: 0 8px 5px 0;

					&.selected {
						border: 2px solid $brand--primary;
						border-radius: 30px;
					}

					a {
						border-radius: 30px;
						width: 30px !important;
						height: 30px !important;
					}
				}
			}
		}

		.how-to {
			@include hoverline($brand--primary);

			margin: 0 0 30px 0;
			border-bottom: 1px solid transparent;
			font-size: 14px;
			letter-spacing: 0.5px;
			transition: $transition;

			// &::after {
			// 	transform: scaleX(1);
			// 	transform-origin: bottom;
			// }

			// &:hover::after {
			// 	@include breakpoint(medium) {
			// 		transform: scaleX(0);
			// 	}
			// }

			&:hover {
				border-bottom: 1px solid transparent;
			}
		}

		ul.colours {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;

			li {
				margin: 0 10px 0 0;

				a {
					&:hover {
						.product-col {
							border-color:#000;
						}
					}

					.product-col {
						display: inline-block;
						border-radius: 30px;
						width: 30px;
						height: 30px;
						border: 1px solid #fff;
						transition: $transition;

						&.active {
							border-color:#000;
						}
					}
				}
			}
		}

		.stock {
			color: #b92828;
			font-size: 13px;
		}

		.share {
			padding: 0 0 5px 0;
			font-size: 14px;

			&.active {
				.share__inner {
					opacity: 1;
					visibility: visible;
					display: block;
				}
			}

			&__inner {
				opacity: 0;
				visibility: hidden;
				display: none;

				ul {
					list-style: none;
					margin: 0 0 30px 0;
					padding: 0;

					li {
						margin: 3px 0;
						letter-spacing: 0.5px;
					}
				}
			}

			a {
				@include hoverline($brand--primary);

				letter-spacing: 0.5px;
			}
		}

		.nosepads-container {
			margin: 30px 0 0 0;

			a {
				@include hoverline($brand--primary);

				font-size: 14px;
				letter-spacing: 0.5px;
				border-bottom: 1px solid $brand--primary;
				transition: $transition;

				&:hover {
					border-bottom: 1px solid transparent;
				}
			}
		}

		.sku_wrapper {
			display: none;
		}

		a.reset_variations {
			display: none !important;
		}

		.quantity {
			display: none !important;
		}

		.threesixty {
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 350px;

			@include breakpoint(medium) {
				min-height: 500px;
			}
		}

		#container.wc360-container {
			width: 100%;
			cursor: grab;
			float: initial;
			min-height: 200px;

			@include breakpoint(medium) {
				min-height: 500px;
			}

			.spinner {
				//display: none !important;
				margin-top: 0 !important;
				background-color: transparent;

				span {
					@include subtitle($brand--primary);
					color: $brand--primary;
				}
			}
		}

		.summary {
			width: 100%;
			position: sticky;
			position: -webkit-sticky;
			height: 100%;
			top: 140px;
			//top: 170px;
			padding: 0 0 50px 0;

			@include breakpoint(medium) {
				width: 35%;
			}

			.posted_in {
				a {
					@include hoverline($brand--primary);
					@include subtitle($brand--primary);

					text-transform: capitalize;
				}
			}

			h1.product_title {
				@include title($brand--primary);

				text-transform: capitalize;

				@include breakpoint(medium) {
					font-size: 30px;
				}
			}

			.price {
				@include subtitle($brand--primary);

				font-size: 18px;
				margin: 10px 0 30px 0;
				display: inline-block;

				@include breakpoint(medium) {
					font-size: 18px;
				}
			}

			.variations_form {
				padding: 10px 0 0 0;
			}

			.woocommerce-variation-availability {
				margin: 10px 0 0 0;

				.stock {
					color: #b92828;

					&.in-stock {
						color: #b92828;
					}
					&.out-of-stock {
						color: #b92828;
					}
				}
			}

			.button {
				@include btn($brand--primary);

				width: 100%;
				// width: 50%;
				margin: 20px 0 10px 0;
				float: right;
				//min-width: 200px;

				&.out-of-stock {
					cursor: no-drop;
					&:hover {
						background-color: $brand--primary;
						color: $brand--white;
						opacity: 0.7;
					}
				}
			}

			.cart {
				.quantity {
					display: none;
				}
			}
		}
	}

	.single-product #wl-wrapper.wl-button-wrap {
		margin: 0 0 5px 0;
	}

	.wl-add-to {
		@include hoverline($brand--primary);

		&::before {
			content: "";
			display: block;
			background: url("../images/ico-heart.svg");
			background-size: 24px;
			width: 24px;
			height: 22px;
			position: absolute;
    	right: -35px;
    	top: -4px;
		}
	}

	.wl-add-to-single {
		@include hoverline($brand--primary);

		margin: 10px 0 30px 0;

		// &::after {
		// 	transform: scaleX(1);
		// 	transform-origin: bottom;
		// }

		&:hover::after {
			@include breakpoint(medium) {
				transform: scaleX(0);
			}
		}

		&::before {
			content: "";
			display: block;
			background: url("../images/ico-heart.svg");
			background-size: 24px;
			width: 24px;
			height: 22px;
			position: absolute;
    	right: -35px;
    	top: -4px;
		}
	}

	#wl-wrapper.wl-button-wrap {
    position: relative;
    clear: both;
    width: 100%;
    padding: 0;
		display: block;
	}

	#wl-wrapper {
		letter-spacing: 0.5px;

		&.wl-button-already-in {
			font-size: 0;

			.wl-add-link {
				display: none;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 10px 0 0 0;

				li {
					a {
						@include hoverline($brand--primary);
						letter-spacing: 0.5px;

						@include breakpoint(medium) {
							font-size: 14px;
						}

						&::before {
							content: "";
							display: block;
							background: url("../images/ico-heart-filled.svg");
							background-size: 18px;
							width: 18px;
							height: 15px;
							position: absolute;
							right: -29px;
							top: -1px;
						}
					}
				}
			}
		}
	}

	.eye-size {
		padding: 40px 0 2px 0;
		font-size: 14px;
		letter-spacing: 0.5px;

		span {
			font-weight: 500;
			letter-spacing: 0.5px;
		}
	}

	.woocommerce-product-attributes {
		padding: 0 0 20px 0;
		tr {
			margin: -2px;
			display: block;
			padding: 2px 0;

			th,
			p {
				display: inline-block;
				font-family: $font--body;
				font-weight: 100;
				font-size: 14px;
				color: $brand--primary;
				letter-spacing: 0.5px;
				text-align: left;
				line-height: 18px;
				padding: 0;
				margin: 0;
			}

			span {
				font-weight: 500;
			}
		}
	}

	.related {
		.products {
			display: flex;
			padding: 0;
			margin: 0;
		}
	}
}

#nosepads_option_field {
	padding: 30px 0 0 0;
	margin: 0;

	span {
		letter-spacing: 0.5px;

		input {
			width: auto;
			margin: 0 5px 0 0;
		}

		label {
			letter-spacing: 0.5px;
			font-size: 14px;
			text-transform: initial;
		}
	}
}

.woocommerce-notices-wrapper {
	.woocommerce-message {
		background-color: $bg-alt;
		padding: 15px 0;
		margin: 10px 0 15px;
		text-align: center;

		a {
			//display: none;
			color: $brand--primary;
		}
	}
}
