.single-product {
	background-color: #fff;

  &__inner {
		@include inner;
  }

	.product {
		display: flex;
		flex-wrap: wrap;

		.product-images {
			width: 100%;

			@include breakpoint(medium) {
				width: 65%;
			}

			&__inner {
				padding: 0;

				@include breakpoint(medium) {
					padding: 0 10% 0 0;
				}
			}

			&__360 {
				text-align: center;
				display: none;

				.ico-360 {
					background-image: url("../images/ico-360.svg");
					background-size: 41px;
					width: 41px;
					height: 20px;
					display: inline-block;
				}
			}
		}

		.lifestyle {
			margin: 85px 0;
		}

		.variations_form {
			.variations {
				.label {
					display: none;
				}

				.swatch-wrapper {
					border: 0;
					margin: 0 8px 5px 0;

					&.selected {
						border: 2px solid $brand--primary;
						border-radius: 30px;
					}

					a {
						border-radius: 30px;
						width: 30px !important;
						height: 30px !important;
					}
				}
			}
		}

		.how-to {
			@include hoverline($brand--primary);

			margin: 0 0 30px 0;

			&::after {
				transform: scaleX(1);
				transform-origin: bottom;
			}

			&:hover::after {
				@include breakpoint(medium) {
					transform: scaleX(0);
				}
			}
		}

		.share {
			padding: 0 0 5px 0;

			a {
				@include hoverline($brand--primary);
			}
		}

		.sku_wrapper {
			display: none;
		}

		a.reset_variations {
			display: none !important;
		}

		.quantity {
			display: none !important;
		}

		#container.wc360-container {
			width: 100%;
			cursor: grab;
		}

		.summary {
			width: 100%;
			position: sticky;
			position: -webkit-sticky;
			height: 100%;
			top: 170px;
			padding: 0 0 50px 0;

			@include breakpoint(medium) {
				width: 35%;
			}

			.posted_in {
				a {
					@include hoverline($brand--primary);
					@include subtitle($brand--primary);

					text-transform: capitalize;
				}
			}

			h1.product_title {
				@include title($brand--primary);

				@include breakpoint(medium) {
					font-size: 30px;
				}
			}

			.price {
				@include subtitle($brand--primary);

				font-size: 21px;
				margin: 10px 0 30px 0;
				display: inline-block;

				@include breakpoint(medium) {
					font-size: 21px;
				}
			}

			.variations_form {
				padding: 10px 0 0 0;
			}

			.woocommerce-variation-availability {
				margin: 10px 0 0 0;

				.stock {
					&.in-stock {
						color: #1bae27;
					}
					&.out-of-stock {
						color: #b92828;
					}
				}
			}

			.button {
				@include btn($brand--primary);

				margin: 10px 0;
				width: 50%;
				float: right;
				min-width: 200px;
			}

			.cart {
				.quantity {
					display: none;
				}
			}
		}
	}

	.single-product #wl-wrapper.wl-button-wrap {
		margin: 0 0 5px 0;
	}

	.wl-add-to {
		@include hoverline($brand--primary);

		&::before {
			content: "";
			display: block;
			background: url("../images/ico-heart.svg");
			background-size: 24px;
			width: 24px;
			height: 22px;
			position: absolute;
    	right: -35px;
    	top: -4px;
		}
	}

	.wl-add-to-single {
		@include hoverline($brand--primary);

		margin: 10px 0 30px 0;

		// &::after {
		// 	transform: scaleX(1);
		// 	transform-origin: bottom;
		// }

		&:hover::after {
			@include breakpoint(medium) {
				transform: scaleX(0);
			}
		}

		&::before {
			content: "";
			display: block;
			background: url("../images/ico-heart.svg");
			background-size: 24px;
			width: 24px;
			height: 22px;
			position: absolute;
    	right: -35px;
    	top: -4px;
		}
	}

	#wl-wrapper.wl-button-wrap {
    position: relative;
    clear: both;
    width: 100%;
    padding: 0;
	}

	#wl-wrapper {
		&.wl-button-already-in {
			font-size: 0;

			.wl-add-link {
				display: none;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 10px 0 0 0;

				li {
					a {
						@include hoverline($brand--primary);

						font-size: 16px;

						&::before {
							content: "";
							display: block;
							background: url("../images/ico-heart-filled.svg");
							background-size: 18px;
							width: 18px;
							height: 15px;
							position: absolute;
							right: -29px;
							top: -1px;
						}
					}
				}
			}
		}
	}

	.woocommerce-product-attributes {
		padding: 20px 0;
		tr {
			th,
			p {
				display: inline-block;
				font-family: $font--body;
				font-weight: 100;
				font-size: 16px;
				color: $brand--primary;
				letter-spacing: 0.5px;
				text-align: left;
				line-height: 22px;
				padding: 0;
				margin: 0;
			}
		}
	}

	.related {
		.products {
			display: flex;
			padding: 0;
			margin: 0;
		}
	}
}

.woocommerce-notices-wrapper {
	.woocommerce-message {
		background-color: $bg-alt;
		padding: 15px 0;
		margin: 10px 0 15px;
		text-align: center;

		a {
			display: none;
			color: $brand--primary;
		}
	}
}
