.spotify {
	@include section;

	@include breakpoint(medium) {
		padding: 35px 0;
	}

	&.bg-color-brown {
		background-color: #bfdbe0;
	}

  &__inner {
		@include inner;
  }

	&__row {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		@include breakpoint(medium) {
			flex-wrap: nowrap;
		}
	}

	&__col {
		width: 100%;

		@include breakpoint(medium) {
			width: 40%;
		}

		&:last-of-type {
			width: 100%;
			display: flex;
			align-items: end;

		@include breakpoint(medium) {
			width: 60%;
		}
		}
	}

	&__code {
		mix-blend-mode: multiply;
		max-width: 300px;
		padding: 0 0 44px 0;

		@include breakpoint(medium) {
			padding: 0;
		}
	}

	&__quote {
		p,
		span {
			@include quote;
		}

		span {
			font-style: initial;
		}
	}

	&__info {
		display: flex;
    justify-content: flex-start;
    align-items: center;
		padding: 44px 0 0 0;
	}

	h3 {
		@include title($brand--primary);

		margin: 0 60px 0 0;
	}

	h4 {
		@include subtitle($brand--primary);
	}
}
