.stockist {
	@include section;

	padding: 0 0 35px 0;

	@include breakpoint(medium) {
    padding: 35px 0;
	}

	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: $brand--primary;
		opacity: 1; /* Firefox */
	}
	
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: $brand--primary;
	}
	
	::-ms-input-placeholder { /* Microsoft Edge */
		color: $brand--primary;
	}

	&__inner {
		@include inner;
	}

	#wpsl-stores, 
	#wpsl-direction-details, 
	#wpsl-gmap {
    height: 500px !important;
	}

	// #wpsl-gmap {
	// 	margin-top: 0 !important;
	// }

	#wpsl-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		flex-direction: column-reverse;

		@include breakpoint(medium) {
			flex-wrap: nowrap;
			flex-direction: initial;
		}

		#wpsl-result-list {
			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				li {
					padding: 10px 0 10px 0;
					width: 100%;
					border-bottom: 0;
					min-height: 100%;

					@include breakpoint(medium) {
						width: 45%;
						min-height: 150px;
					}

					p {
						margin: 0 0 10px 0;
						b,
						strong {
							font-weight: 500;
						}
					}

					.wpsl-contact-details {
						span {
							&:last-of-type {
								display: none !important;
							}
						}
					}

					.wpsl-direction-wrap {
						display: none;
						font-size: 13px;
						a {
							@include subtitle($brand--primary);
							font-size: 13px;
						}
					}
				}
			}
		}
	}

	.wpsl-search {
		margin-bottom: 40px;
    padding: 0;
    background: transparent;

		.wpsl-input {
			width: 100%;
			overflow: hidden;

			label {
				display: none !important;
			}

			#wpsl-search-input {
				@include input;

				width: 100%;
				background-color: #e1dfd6;
				color: $brand--primary;
				border-radius: 0;
				border: 0;
				padding: 10px 10px;
				text-transform: uppercase;

				&:focus {
					outline: none;
					border: 0;
					color: $brand--primary;
					background-color: #e1dfd6;
				}
			}
		}

		#wpsl-search-wrap {
			width: 100%;

			@include breakpoint(medium) {
				width: 80%;
			}

			.wpsl-dropdown {
				float: right;
				margin: 0;
				padding: 5px 5px;
				width: 120px;
				background-color: #e1dfd6;
				border: 0;
				border-radius: 0;

				&:focus,
				&:hover {
					outline: none;
					border: 0;
					box-shadow: none;
				}
			}

			.wpsl-active {
				z-index: 999;
			}

			.wpsl-select-wrap {
				width: 100%;
			}

			#wpsl-radius {
				width: 100%;
				margin: 10px 0;
			}
			
			#wpsl-results {
				width: 100%;
			}

			div label {
				float: left;
				margin-right: 0;
				line-height: 32px;
				width: 50%;
			}
		}

		.wpsl-radius,
		.wpsl-results {
			display: inline-block;
			width: 100%;
		}
	}

	#wpsl-result-list {
		width: 100%;
	}

	#wpsl-gmap {
		width: 100%;
	}

	.wpsl-preloader {
		display: none;
	}

	&__col {
		width: 100%;

		@include breakpoint(medium) {
			width: 60%;
		}

		&:first-of-type {
			width: 100%;
			margin: 0;

			@include breakpoint(medium) {
				width: 40%;
				margin-right: 30px;
			}
		}
	}
}

#wpsl-search-btn,
#wpsl-search-wrap input {
	@include btn($brand--primary);
	text-transform: uppercase;
	border-radius: 0;

	&:hover {
		color: $brand--white;
	}
}

input[value="search"] {
	text-transform: uppercase;
}

#wpsl-search-btn {
	@include btn($brand--primary);

	text-transform: uppercase;
	border-radius: 0;

	&:hover {
		color: $brand--white;
	}
}
